@import './base.css';
@import './fonts.css';

#app {
  width: 100%;
  max-width: 1376px;
  padding: 0 16px;
}

@media (min-width: 1024px) {
  #app {
    padding: 0 32px;
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.25s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
